.video-class{
    width: 100vw;
    height: 100vh;
}
.hero-container {
    height: 100vh;
    position: relative;
    background-color: black;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 11;
    bottom: 0;
    position: absolute;
    /* margin-bottom: 80px; */
}

.hero-container>h1 {
    font-size: 100px;
    margin-top: -100px;
}

.hero-container>p {
    margin-top: 8px;
    color:black;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}
.btn-hero{
    background: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin-inline: 1rem;
    transition: 0.4s;
    padding: 0.3rem;
}
.btn-hero:hover{
    background-color: white;
    border-radius: 10px;
    color: black;
}

@media screen and (max-width: 960px) {
    .hero-container>h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container>h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container>p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}