.main-wrap {

    width: 100vw;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.form-wrap {
    margin: auto;
    margin-top: 5%;
    border-radius: 11px;
    padding: 80px 25px;
    background-color: black;
    width: 350px;
    height: auto;

    /* box-shadow: 0.1rem 3rem rgba(0, 0, 0, 0.527) !important; */
}

.form-wrap h1 {
    color: white;
}

.form-wrap h6 {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-wrap span {
    color: white;
}

.signform input {
    margin: 8px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 14px;
    color: black;
    background-color: white;
}

.signform input:focus {
    border: none;
    outline: none
}

.signform input::placeholder {
    padding-left: 4px;
}

.signform .form-btn {
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin-top: 16px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    margin-left: 100px;
}

.signform .form-btn:hover {
    border: 1px solid gray;
    color: black;
    transition: all 1s ease;
    background-color: white;
}